<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do-App</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
    <h1>To-Do-App</h1>
    <div id="todo-table">
        <form action="/todo" method="POST" >
            <input type="text" name="item" placeholder="Add new items...." required/>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% for(var i=0; i < itemlist.length; i++){ %>
                <li> <%= itemlist[i].item %> </li>
            <% } %>
        </ul>

    </div>
</body>
</html>